.card-custom {
    width: 80%;
    border-radius: 25px;
    padding: 10%;
    background: var(--color-cuadro) ;
    box-shadow: 40px 20px 40px rgb(168, 162, 162);
    margin-bottom: 10%;
}

.btn-contacto{
    background-color: var(--color-boton); 
    border: none;
    color: var(--color-palabra-boton);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 50%;
    margin-bottom: 20%;
    border-radius: 4%;
}

.btn-enviar:hover{
    background-color: var(--color-boton-transicion);
    color: var(--color-palabra-boton);
}

.cel{
    background-color: #c4cbc4;
    text-align: center;
    padding: 2%;
}

.btn-custom {
    background-color: var(--color-boton); 
    border: none;
    color: var(--color-palabra-boton);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}


.btn-custom:hover {
    background-color: var(--color-boton-transicion);
    color: var(--color-palabra-boton);
}

.titulo-contacto {
    color: var(--color-titulos);
    margin-right: 10%;
}

.contacto-input{
    padding: 1.3%;
    margin-bottom: 5%;
    width: 100%;
    border: none; 
}


.contacto-input-consulta{
    padding: 10%;
    margin-bottom: 5%;
    width: 100%;
    border: none
}



/* body{
    background-color: #25274d;
} */
.contact{
    width: 80%;
    margin-bottom: 5%;
  
}
.col-md-3-contact{
    background: var(--color-cuadro);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
    
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9-contacto{
    background: #d1cfcf;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  
}
.contact-form label{
    font-weight:600;
  
}
.contact-form button{
    background: var(--color-boton);
    color: #fff;
    font-weight: 600;
    width: 25%;
    margin-bottom: 5%;
}
.contact-form button:focus{
    box-shadow:none;
}



#circle 
{

	width: 50px;
    height: 50px;	
}

.loading 
{
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 15px solid #48545F;
	border-top: 15px solid #30FF06;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 