
.container-footer {
  background-color: var(--color-nav-foot);
  padding: 0.2%;
    bottom: 0;
    width: 100%;
    
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  font-size: 100%;
  margin: 0 10px;
  color: var(--color-boton);
  transition: color 0.3s; 
}

.social-icons a:hover {
  color: var(--color-palabra-boton);
}

