.contenido {
  padding: 20px;
  background-color: #45ceba;
  width: auto;
  border-radius: 10%;
  margin-bottom: 60px;
}

.container-beneficios{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-left: 100px;
  border-radius: 10%;
  width: auto;
  
}

.tituloBeneficios {
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lista-beneficios {
  border-top: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  list-style: none;
  padding-left: 0;
  padding-top: 3;
  padding-bottom: 3;
}
