.contenido {
  padding: 20px;
  background-color: white;
  margin-left: 220px;
  width: 500px;;
}

/* .cuadro-beneficios {
  padding: 20px;
  border-radius: 20px;
  top: -40px;
} */

.titulo {
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  border-color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lista-beneficios {
  border-top: 1px solid #ccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  list-style: none;
  padding-left: 0;
  padding-top: 3;
  padding-bottom: 3;
}

/* .beneficio {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
} */

