.bg-sesion {
    width: 50%;
    box-shadow: 40px 20px 40px var(--color-sombras);
    background: var(--color-cuadro);
    border-radius: 20%;
    padding: 10%;
}

.btn-sesion:hover {
    background-color: var(--color-boton-transicion);
    color: var(--color-palabra-boton);
}

.btn-olvide {
    text-decoration: underline;
    color: blue;
}

.titulo-sesion {
  color: var(--color-titulos);
}

.btn-sesion{
    background-color: var(--color-boton);
    border: none;
    color: var(--color-palabra-boton);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /* display: block; */
    /* width: 100%; */
    font-size: 100%;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-registrarse:hover {
    color:blue;
  }