.bg-sesion {

    width: 80%;
    box-shadow: 40px 20px 40px rgb(111, 108, 108);
    background-image: linear-gradient(to bottom,rgba(187, 179, 150, 0.928) , #d1e9ff);
    border-radius: 5%;

    padding: 10%;
}

.btn-sesion:hover {
    background-color: var(--color-boton-transicion);
    color: var(--color-palabra-boton);
}

.titulo-sesion {
  color: var(--color-titulos);
}

.btn-sesion{
    background-color: var(--color-boton);
    border: none;
    color: var(--color-palabra-boton);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 100%;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}