
.texto-venta {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    
  }

  .p-logo {

    
  }

  .columna{
 

  }