.titulo-historial {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-titulos);
    text-transform: uppercase;
    margin-bottom: 5%;
  }


.texto-historial {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
    list-style: none;
    margin-top:-8%;
  }

  
.box{

  margin-top:-1%;

}