.titulo-proyectos {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-titulos);
    text-transform: uppercase;
    margin-bottom: 2%;
    text-shadow: 0px 4px 8px var(--color-sombras-titulos);
  }

.texto-proyectos {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  list-style: none;
  padding-top: 3;
  padding-bottom: 3;
  width: 50%; 
  margin: 0 auto;
  margin-bottom: 5%;
}

.titulo-proyecto {
    margin-top: 2%;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-subtitulos);
    text-transform: uppercase;
    margin-bottom: 2%;
}

.imagen-proyecto {
    border-radius: 10%;
    box-shadow: 0px 2px 4px var(--color-sombras);
    object-fit: cover;
}

.box{
 
    padding-top:3%;

}