.nombre-profesor {
    margin-left: 30px; 
  }
  .numero-curso {
    margin-left: 30px; 
  }
  .contenido-aviso {
    margin-top: 10px;
    background-color: rgb(183, 183, 183);
  }

  .input-edit {
    width: 90%; 
    height: 100px; 
    overflow-y: auto; 

  }
  
  