:root {
    --color-nav-foot:null; 
    --color-menu-lateral:null;
    --color-boton:null; 
    --color-palabra-boton:null;
    --color-boton-transicion:null;
    --color-cuadro:null;
    --color-subcuadro: null;
    --color-sombras:null;
    --color-subtitulos: null;
    --color-titulos: null;
    --color-bordes:null;
    --color-sombras-titulos:null;
    --color-fondo:null;
  }