
.container-inscripcion{
  width: 50%;
  border-radius: 25px;
  background: var(--color-cuadro);
  box-shadow: 40px 20px 40px var(--color-sombras);
  margin-bottom: 10%;
  margin-left: -10%;
}

.titulo-resgistro {
  color: var(--color-titulos);
}

.btn-registro{
  background-color: var(--color-boton); 
  border: none;
  color: var(--color-palabra-boton);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 80%;
  margin-bottom: 20%;
  border-radius: 4%;
}

.btn-registro:hover{
  background-color: var(--color-boton-transicion);
  color: var(--color-palabra-boton);
}