.titulo-home {
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-transform: uppercase;
  margin-bottom: 5%;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  border-radius: 10%; 
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.texto-titulo-home {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 0px 4px 8px rgba(245, 241, 241, 0.5);
}

.texto-home{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 120%;
  list-style: none;
  padding-top: 3;
  padding-bottom: 3;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
}
