.home {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloPrincipal {
  text-align: right;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  /* Centra horizontalmente */
  max-width: 800px;
  height: auto;
  border-radius: 10%;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  padding: 0 15px;
}


.container.principal h2,
.container.principal p {
  text-align: center;
  margin-bottom: 20px;

}