.Chat {
    max-width: 100%;

    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: #007bff;
    min-height: 800px;
  }
  
  .InputContainer {
    display: flex;
    align-items: center;

  }
  
  .TextInput {
    flex: 1;
    padding: 4px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    color: #333;
  }
  
  .SendButton {
    background-color:rgba(0, 0, 0, 0.928);
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  color: white;
  
  }
  
  .CerrarButton {
    background-color: rgba(0, 0, 0, 0.928);
    text-align: left;
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
  }
  
  @keyframes titilar {
    0%,
    100% {
      opacity: 1;
      color: white;
    }
    50% {
      opacity: 0;
      color: red;
    }
  }
  
  .MensajesSinLeer {
    margin-left: 8px;
    animation: titilar 1s infinite;
  }
  
  .BorrarMensajeIcon {
    cursor: pointer;
    color: #553636; /* Cambia el color a rojo u otro de tu elección */
    font-size: 18px; /* Ajusta el tamaño según tus preferencias */
    margin-left: 5px; /* Agrega un espacio a la izquierda del ícono si es necesario */
  }
  
  .NombreRemitente {
    font-size: 12px; /* Alinea el texto a la derecha */
  }
  
  .HoraMensajeRecibido {
    font-size: 12px;
    text-align: right; /* Alinea el texto a la derecha */
  }
  
  .HoraMensajeEnviado {
    font-size: 12px;
    text-align: right; /* Alinea el texto a la derecha */
  }
  
  .CenteredTitle {
    background-color: transparent; /* Establece un fondo no transparente (en este caso, blanco sólido) */
    color: #212052; /* Establece un color de texto (en este caso, negro) */
    text-align: center;
  }
  
  .TituloChat {
    text-align: center; /* Centra el texto solo cuando el chat está abierto */
    opacity: 1; /* Hace que el texto no sea transparente cuando el chat está abierto */
    display: none; /* Oculta la palabra "Usuario" */
  }
  
  .TituloUsuarios {
    text-align: center; /* Alinea el texto a la izquierda cuando el chat está cerrado */
    opacity: 1; /* Hace que el texto no sea transparente cuando el chat está cerrado */
    color: #212052;
  }
  
  /* Agrega el estilo para el cursor */
  .Mensaje {
    cursor: pointer;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8faf6;
    /* padding: 20px; */
    border-radius: 10px;
    font-weight: bold;
    color: #007bff;
  }
  
  /* Establece un estilo para los mensajes seleccionados */
  .MensajeSeleccionado {
    background-color: #cce6ff; /* Cambia el color de fondo de los mensajes seleccionados */

  }
  
  .message-received {
    user-select: none;
    pointer-events: none;
  }
  
  .SelectionWarning {
    background-color: #ff6b6b; /* Color de fondo rojo */
    color: #fff; /* Texto blanco */
    padding: 10px; /* Espacio alrededor del texto */
    text-align: center; /* Centra el texto */
    border-radius: 5px; /* Bordes redondeados */
    margin: 10px 0; /* Margen superior e inferior */
  }
  
  .leyendaeliminar {
    background-color: transparent; /* Establece un fondo no transparente (en este caso, blanco sólido) */
    color: #212052; /* Establece un color de texto (en este caso, negro) */
    text-align: center;
  }
  
  .eliminarSeleccionados {
    background-color: rgba(0, 0, 0, 0.928);
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .eliminarParaMi {
    background-color: rgba(232, 225, 190, 0.928);
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .eliminarParaTodos {
    background-color: rgba(232, 225, 190, 0.928);
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cancelar {
    background-color: rgba(232, 225, 190, 0.928);
    border: none;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  



