.table-materias {
  width: 80%;
  border-radius: 25px;
  padding: 5%;
  /* background-image: linear-gradient(to bottom, rgba(187, 179, 150, 0.928),  rgba(187, 179, 150, 0.928)); */
  box-shadow: 40px 20px 40px rgb(111, 108, 108);
  margin-bottom: 10%;
  margin-left: 10%;
}

.titulo-materias {
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
}


th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid  rgba(187, 179, 150, 0.928);
}


tr:nth-child(even) {
  background-color:  rgba(187, 179, 150, 0.928);
}

.column-header {
  width: 200px;
}