/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-left: 100px;
  border-radius: 10%;
  width: auto;
  
} */

.side-menu {
  width: 350px;
  background-color: rgb(183, 194, 218);
  color: rgb(9, 8, 8);
  padding: 20px;
  /* margin-top: 70px; */
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1000;
}


.menu-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 3px solid rgb(177, 188, 212); 
  margin-top: 50px;
}

.menu-container {
  display: flex;
  flex-direction: column; 
  border-color: black;
}

/* .hidden {
  display: none;
} */


.side-menu a { 
  text-decoration: none;
  color: inherit; 
  text-align: center;
}

.menu-item:hover {
  background-color:rgb(158, 170, 196);
  color: white;
  margin-left: 20px;
}

.menu-item:last-child:before {
  display: none;

}






 
