 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-left: 50px;
  border-radius: 10%;
}

.side-menu {
  width: 250px;
  background-image: linear-gradient(to bottom, rgb(58, 244, 154), rgba(51, 225, 63, 0.4));
  color: rgb(9, 8, 8);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}


.menu-item {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 3px solid rgb(76, 129, 244); 
  margin-top: 15px;
}

.menu-container {
  display: flex;
  flex-direction: column; 
}

.hidden {
  display: none;
}


.side-menu a { 
  text-decoration: none;
  color: inherit; 
}

.menu-item:hover {
  background-color:rgb(76, 129, 244);
  color: rgb(255, 255, 255);
}

.menu-item:last-child:before {
  display: none;

}






 

