
.bg-pink {
  background-color: rgba(232, 225, 190, 0.928);
  font-size: 100%;
  width: auto;
}

.navbar-logo {
  width: 15%;
  height: auto;
  margin-right: 10%;
  margin-left: 10%; 
}

.sesion {
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-left: auto;
}

.nav-item {
  margin-left: 20px; 
  letter-spacing: 1.5px;
}


.nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  color: black;
}

.nav-link:hover {
  color: white;
  background-color: rgb(15, 15, 15);

}
.container-navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 10%;
  width: auto;
}

.hola-usuario{
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  background-color:rgb(124, 153, 214);
  text-decoration: underline;
  width: 20%;
}