.bg-pink {
  background-color: rgb(58, 244, 154);
  font-size: 16px
}

.navbar-logo {
  width: 100px;
  height: auto;
  margin-right: 200px;
  margin-left: 100px;
}

.sesion {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.iniciar{
  margin-right: 100px;
  margin-left: 300px;
}

.nav-item {
  margin-top: 10px;
  margin-right: 10px; 
  margin-left: 10px;
  letter-spacing: 1.2px;
}


.nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  color: black;
}

.nav-link:hover {
  color: #fff;
  background-color: rgb(76, 129, 244);

}

.hola-usuario{
  margin-left:50px;
  margin-top: -5px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  background-color:rgb(76, 129, 244);
  text-decoration: underline;
  width: 150px;
}