.titulo-boletin {
  font-size: 200%;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
  margin-bottom: 5%;
}

.tabla-boletin {
  width: 80%;
  border-radius: 25px;
  padding: 5%;
  /* background-image: linear-gradient(to bottom,rgba(187, 179, 150, 0.928) , #d1e9ff); */
  box-shadow: 40px 20px 40px rgb(111, 108, 108);
  margin-bottom: 5%;
  margin-left: 10%;
}


.cuadro-boletin {
  width: 80%;
  border-radius: 25px;
  padding: 5%;
  box-shadow: 40px 20px 40px rgb(111, 108, 108);
  margin-bottom: 5%;
  margin-left: 10%;
}

.boletin {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid  rgba(97, 95, 87, 0.928);
  background-color: rgb(111, 108, 108);
}