.plan-de-estudios {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
    position: relative;
    background-color: #45ceba;
    border-radius: 10%;
  }
  
  h1 {
    margin-bottom: 20px; 
  }
  
  .materias {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #578ee5;
  }
 
  

  

  
