
.titulo-plan {
  margin-bottom: 5%; 
  color: var(--color-titulos);
  font-size: 50px;
}

.materias {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--color-bordes);

}

.card-title-plan {
  color: var(--color-subtitulos);
}

.plan {
  width: auto;
  margin-right: 5%;
  margin-left: 3%;
}

.cuadro{
  background-color: var(--color-cuadro);
  border-radius: 10%;
  box-shadow: 40px 20px 40px var(--color-sombras);
 min-height: 400px;;
}





