
.titulo-plan {
  margin-bottom: 5%; 
  color: var(--color-titulos);
}

.materias {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--color-bordes);
}

.card-title-plan {
  color: var(--color-subtitulos);
}

.plan {
  width: auto;
  margin-right: 5%;
  margin-left: 3%;
}







