body {
  background-image: url('../../Front/src/ImagenesDescargadas/fondo.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}



  
  .center-content {
    display: flex;
    margin-left: 100px; 
    height: 100vh;
  }
  