body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

:root {
  --color-nav-foot: #3498db; 
  --color-menu-lateral: rgba(116, 116, 116, 0.496);
  --color-boton: black; 
  --color-palabra-boton: white;
  --color-boton-transicion: rgb(195, 17, 17);
  --color-cuadro: rgba(48, 164, 85, 0.563);
  --color-subcuadro: pink;
  --color-sombras: rgba(0, 0, 0, 0.522);
  --color-subtitulos: rgb(0, 0, 0);
  --color-titulos: rgb(0, 0, 0);
  --color-bordes: black;
  --color-sombras-titulos: rgba(0, 0, 0, 0.445);
  --color-fondo: rgb(139, 139, 139);
}


  /* .center-content {
    display: flex;
    margin-left: 100px; 
    height: 100vh;
  }
   */

   .center{
align-content: center;

   }

   .colu{
    min-height: 100vh;
    background-color: var(--color-fondo);
   }