/* table {
    border-collapse: collapse;
    width: 100%;

  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #f30e0e;
  }
  
  tr:nth-child(even) {
    background-color: #e91010;
  }

  .column-header {
    width: 200px; 
  }
  
  */
  .fondo-tabla{
border: solid 1px ;
  } 
