.titulo-taller {
  color: black; 
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  /* text-transform: uppercase; */
}

.img-taller {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px ;
  border-bottom-right-radius: 25px;
  margin-bottom: 20%;
}

.card-body-taller{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.llamado-titulo {
  font-family: 'Irish Grover', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}


.card-title-taller{
  width: auto;
  font-size: 100%;
}

.taller {
  width: 30%;
  border-radius: 5%;
  /* padding: 3%; */
  background-image: linear-gradient(to bottom,rgba(187, 179, 150, 0.928) , #d1e9ff);
  box-shadow: 40px 20px 40px rgb(111, 108, 108);
  margin-left: 2%;
}

.img-cont-taller{
  width: 100%;
}