.container-taller{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin-left: 100px;
  border-radius: 10%;
  width: auto;
  
}

.tituloTalleres {
  margin-top: 20px; 
  color: black; 

}




.image-container {
  max-width: 100%;
  height: auto; 
  display: block;
}


.card-imagen {
  background-color: #f0f0f0; 
  border-radius: 10%;
  border: none;
  overflow: hidden;
  width: 100%;
}

.llamado-titulo {
  font-family: 'Irish Grover', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

/* .rectangulo-llamado {
  background-color: #45ceba;;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  width: 400px;
  margin-left: 360px;
  border-radius: 10%;
  
} */