.titulo-taller {
  color: var(--color-titulos); 
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;

}

.img-taller {
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 20%;
}


.card-body-taller{

  display: flex;
  flex-direction: column;
  align-items: center;
}


.llamado-titulo {
  font-family: 'Irish Grover', sans-serif;
  color: var(--color-subtitulos);
  font-size: 30px;
  margin-bottom: 1%;
}


.card-title-taller{
  width: auto;
  font-size: 100%;
}

.taller {

  width: 100%;
  border-radius: 5%;
  margin-bottom: 3%; 
  background: var(--color-cuadro) ;
  box-shadow: 20px 20px 40px var(--color-sombras);
  margin-left: 6%;
}

.img-cont-taller{
  width: 100%;
}

/* Estilos para la primera tarjeta */
.talleres {
  background: var(--color-subcuadro);/* color o imagen para la primera tarjeta */;
}


