.a-proximos-eventos {
  width: auto;
  border-radius: 25px;
  padding: 5%;
  background: var(--color-cuadro);
  box-shadow: 40px 20px 40px var(--color-sombras);
  margin-bottom: 10%;
  border: solid 1px;;
}

/* Estilos para la primera tarjeta */
.card1 {
  background: var(--color-subcuadro);
}

/* Estilos para la segunda tarjeta */
.card2 {
  background: var(--color-subcuadro);
}


.titulo-evento{
  margin-bottom: 10%; 
  width: 100%;
  color: var(--color-titulos);
  font-size: 50px;
}


h2{
  text-align: center;
}


.card-title-eventos{
  font-family: 'Arial', sans-serif;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 3px solid var(--color-bordes); 
  margin-top: 5%;
  margin-bottom: 5%;

}

/* .card-body-eventos{
  background-color: var(--color-subcuadro);
  width: 100%;
  box-shadow: 0px 2px 4px var(--color-sombras);
  font-size: 20px;
} */



.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}